body{
    color: rgb(252, 217, 189);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background: url(bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.parent{
    justify-content: center;

    display: flex;
}

.container{  
    border: 2px solid;
    border-radius: 80px;
    border-color: rgb(252, 217, 189);
    backdrop-filter: blur(8px);
    padding: 10px;
    padding-bottom: 10px;
    margin: 10px;
    width: 40vw;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  } 


 